.container {
    max-width: 960px;
}

.white {
    color: white;
}

.site-header {
    background-color: black;
}

.site-header a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.site-header a:hover {
    color: rgb(184, 184, 184);
}

.site-header .col-md-8 {
    padding-top: 12px;
}

.header-background {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('keto-food.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overflow-hidden { overflow: hidden; }

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }

.logo {
    width: 100px;
    height: 100px;
}

.header-btn {
    color: white;
}

.intro-text {
    font-size: 20px;
}

.doctor-image {
    background-image: url('doctor-main.jpg');
    background-size: cover;
    background-position: center;
}